---
http_interactions:
- request:
    method: get
    uri: http://maps1.arcgisonline.com/ArcGIS/rest/services/NGS_Survey_Control_Points/MapServer/1/query?f=json&geometry=%7Bxmin:%20-105.18846177675125,%20ymin:%2039.85505895079479,%20xmax:%20-104.81153822324875,%20ymax:%2040.14494104920521%7D&geometryType=esriGeometryEnvelope&inSR=4326&outFields=DATA_SRCE,NAME,LAST_COND,ELEVATION,ELEV_ORDER,STABILITY&outSR=4326
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - "-2134019768"
    body:
      encoding: ASCII-8BIT
      string: '{"displayFieldName":"NAME","fieldAliases":{"DATA_SRCE":"Data Source","NAME":"Name","LAST_COND":"Last
        Condition","ELEVATION":"Elevation","ELEV_ORDER":"Elevation Order","STABILITY":"Stability"},"geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326},"fields":[{"name":"DATA_SRCE","type":"esriFieldTypeString","alias":"Data
        Source","length":57},{"name":"NAME","type":"esriFieldTypeString","alias":"Name","length":40},{"name":"LAST_COND","type":"esriFieldTypeString","alias":"Last
        Condition","length":16},{"name":"ELEVATION","type":"esriFieldTypeString","alias":"Elevation","length":9},{"name":"ELEV_ORDER","type":"esriFieldTypeString","alias":"Elevation
        Order","length":1},{"name":"STABILITY","type":"esriFieldTypeString","alias":"Stability","length":1}],"features":[{"attributes":{"DATA_SRCE":"http:\/\/www.ngs.noaa.gov\/cgi-bin\/ds_mark.prl?PidBox=LL0178","NAME":"1","LAST_COND":"MARK
        NOT FOUND","ELEVATION":" 1497.912","ELEV_ORDER":" ","STABILITY":"C"},"geometry":{"x":-104.81277777822008,"y":40.079722221220436}},{"attributes":{"DATA_SRCE":"http:\/\/www.ngs.noaa.gov\/cgi-bin\/ds_mark.prl?PidBox=KK1775","NAME":"16","LAST_COND":"MONUMENTED","ELEVATION":"
        1698.8","ELEV_ORDER":" ","STABILITY":" "},"geometry":{"x":-105.15465748525784,"y":39.870869465317355}},{"attributes":{"DATA_SRCE":"http:\/\/www.ngs.noaa.gov\/cgi-bin\/ds_mark.prl?PidBox=KK1763","NAME":"17","LAST_COND":"MONUMENTED","ELEVATION":"
        1691.5","ELEV_ORDER":" ","STABILITY":" "},"geom[...]
